/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: none !important;
}

.hidden {
    display: none !important;
}

::-webkit-scrollbar {
    width: 0%;
}

input:focus,
select:focus {
    outline: none;
    box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#main_container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}